# Backend (Spring Boot)
backend/target/
backend/.mvn/
backend/*.log
backend/.classpath
backend/.project
backend/.settings/

# Frontend (Angular)
frontend/node_modules/
frontend/dist/
frontend/.angular/

# General
.env
.DS_Store


