.login-background {
  min-height: 50vh;
  min-width: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.login-card {
  background-color: #ffffff; 
  width: 100%;
  max-width: 380px;
  padding: 2rem;
  border-radius: 10px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.login-card h4 {
  color: #212529;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.login-card .form-label {
  color: #495057;
  font-weight: 500;
}

.login-card .form-control {
  border-radius: 6px;
  border: 1px solid #ced4da;
}

.login-card .form-control:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 0 0.15rem rgba(13, 110, 253, 0.25);
}

.login-card button {
  padding: 0.6rem;
  font-weight: 500;
}
